body {
    background-color: rgb(245, 239, 255);
    font-family: Arial, sans-serif;
}

.main {
    text-align: center;
    margin-top: 100px;
}

.vanshika {
    color: #008655;
    font-size: 20px;
    font-weight: bold;
}